*,
*::before,
*::after {
  box-sizing: border-box;
}

.brandlogo {
  height: 50px;
}

.brand {
  color: #eee;
  font-family: "Chewy", cursive;
}

p {
  font-size: 1.1em;
  color: black;
  font-family: sans-serif;
  color: #eee;
}

#home {
  background-color: black;
}
#contact {
  background-color: black;
  height: 235px;
  padding: 50px;
}

a.header {
  color: #eee;
  text-decoration: none !important;
  font-family: sans-serif;
}

.container1 {
  background-color: #c75032;
  margin: 0;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.piano {
  display: flex;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 100px;
  background-color: white;
  border: 1px solid #333;
  border-radius: 5%;
}

.white.active {
  background-color: #ccc;
}

.black {
  --width: 60px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.black.active {
  background-color: #333;
}

@media screen and (max-width: 700px) {
  .key {
    height: calc(var(--width) * 1.8);
    width: calc(var(--width) / 1.4);
  }
  .btn {
    margin-top: 30px;
  }
}
